.Annotation {
  &__header {
    > * {
      align-items: center;
      display: flex;
    }
    &--primary {
      justify-content: space-between;
    }
    &--secondary {
      flex-wrap: wrap;
      margin-top: rem(-8);
    }
  }
  &__quote {
    @include smooth;
    border-left: var(--size__xs) solid var(--color__base-light);
    &:hover {
      border-color: var(--color__brand);
      color: var(--color__base);
    }
  }
  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__tags {
    flex: 1 0;
  }
  &__actions {
    align-self: flex-start;
    flex-shrink: 0;
  }
}