.Groups {
	align-items: center;
	display: inline-flex;
	flex: 1 1;
	&__inner {
		display: flex;
		flex-direction: column;
		max-height: rem(320);
		overflow: hidden;
		&Header,
		&Footer {
			flex-shrink: 0;
		}
		&Content {
			flex: 1 1;
			overflow: hidden;
			overflow-y: auto;
		}
		&Footer {
			.Button {
				width: 100%;
			}
		}
	}
}
