.Help {
	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		&--label {
			flex: 1 1;
		}
		.Button {
			align-self: flex-start;
			flex-shrink: 0;
		}
	}
	&__nav {
		display: flex;
		flex-wrap: wrap;
		> * {
			flex: 1 0 100%;
			border-left-color: transparent;
			@include breakpoint(xsl) {
				border-left-color: inherit;
				border-top: 0;
				flex-basis: 50%;
			}
		}
	}
	&__content {
		dl {
			display: grid;
			grid-row-gap: var(--size__s);
			grid-template-columns: rem(120) auto;
		}
	}
}
