.Share {
  &__header, &__footer {
    align-items: center;
    display: flex;
  }
  &__header {
    border-bottom: rem(1) solid var(--color__base-light);
    justify-content: space-between;
    &--label {
      flex: 1 1;
    }
    .Button {
      align-self: flex-start;
      flex-shrink: 0;
    }
  }
  &__footer {
    border-top: rem(1) solid var(--color__base-light);
    justify-content: center;
  }
}