.Tabs {
	align-items: center;
	display: flex;
	&:first-child {
		margin-top: var(--size__s);
	}
	&__item {
		align-items: flex-start;
		display: inline-flex;
		width: auto;
		&--selected {
			font-weight: bold;
		}
		.Badge {
			transform: translateY(rem(-4));
		}
	}
}