.Badge {
	@include smooth;
	align-items: center;
	border-radius: var(--size__m);
	display: inline-flex;
	justify-content: center;
	min-height: var(--size__m);
	min-width: var(--size__m);
	width: auto;
	&--micro {
		border-radius: var(--size__s);
	}
	&--brand {
		background-color: var(--color__brand);
		border-color: transparent;
		color: white;
	}
	&--contrast {
		background-color: var(--color__base);
		border-color: transparent;
		color: var(--color__contrast);
	}
	&--primary {
		background-color: var(--color__contrast);
	}
	&__label {
		font-weight: bold;
		white-space: nowrap;
	}
}
