.Button {
	@include smooth;
	align-items: center;
	border: rem(1) solid transparent;
	border-radius: var(--size__xs);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	min-height: calc(var(--size__s) + var(--size__l));
	min-width: calc(var(--size__s) + var(--size__l));
	width: auto;
	&__dropdown {
		display: inline-flex;
		flex-shrink: 0;
	}
	&__icon {
		align-items: center;
		display: inline-flex;
		flex-shrink: 0;
		justify-content: center;
		.Button--reversed & {
			order: -1;
		}
		+ .Button__dropdown {
			margin-left: rem(2);
		}
		+ .Button__label {
			margin-left: var(--size__s);
		}
	}
	&__label {
		font-weight: bold;
		flex-grow: 1;
		max-width: 100%;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		+ .Button__dropdown {
			margin-left: var(--size__xs);
		}
	}
	&--primary,
	&--secondary,
	&--brand,
	&--muted {
		padding-left: var(--size__s);
		padding-right: var(--size__s);
	}
	&--primary {
		background-color: var(--color__base);
		color: var(--color__contrast);
		&:focus,
		&:hover {
			background-color: var(--color__base-mid);
		}
	}
	&--secondary {
		background-color: var(--color__contrast);
		border-color: var(--color__base-light);
		color: var(--color__base-mid);
		&:focus,
		&:hover {
			border-color: var(--color__base-mid);
			color: var(--color__base);
		}
	}
	&--tertiary {
		color: var(--color__base-mid);
		&:focus,
		&:hover {
			color: var(--color__base);
		}
	}
	&--brand {
		background-color: var(--color__brand);
		color: white;
		&:focus,
		&:hover {
			color: rgba(white, 0.88);
		}
	}
	&--muted {
		background-color: var(--color__base-ghost);
		color: var(--color__base-mid);
		&:focus,
		&:hover {
			border-color: var(--color__base-light);
			color: var(--color__base);
		}
	}
}
