.Button {
  @include smooth;
  align-items: center;
  border: rem(1) solid transparent;
  border-radius: var(--size__xs);
  cursor: pointer;
  display: inline-flex;
  min-height: var(--size__l);
  min-width: var(--size__l);
  width: auto;
  &__dropdown {
    display: inline-flex;
    flex-shrink: 0;
  }
  &__icon {
    display: inline-flex;
    flex-shrink: 0;
    + .Button__dropdown {
      margin-left: rem(2);
    }
    + .Button__label {
      margin-left: var(--size__s);
    }
  }
  &--primary, &--secondary {
    padding-left: var(--size__s);
    padding-right: var(--size__s);
  }
  &--primary {
    background-color: var(--color__base-mid);
    color: var(--color__contrast);
    &:focus,
    &:hover {
      background-color: var(--color__base);
    }
  }
  &--secondary {
    background-color: var(--color__contrast);
    border-color: var(--color__base-light);
    color: var(--color__base-mid);
    &:focus,
    &:hover {
      border-color: var(--color__base-mid);
      color: var(--color__base);
    }
  }
  &--tertiary {
    color: var(--color__base-light);
    &:focus,
    &:hover {
      color: var(--color__base);
    }
  }
}