.Control {
	display: block;
	&__wrap {
		@include smooth;
		align-items: stretch;
		border-radius: var(--size__xs);
		display: flex;
		justify-content: space-between;
		min-height: calc(var(--size__l) + var(--size__s));
		position: relative;
		[data-theme="dark"] & {
			background-color: var(--color__contrast-extra);
		}
		&:focus-within {
			border-color: var(--color__base);
			box-shadow: 0 rem(8) rem(16) rem(-8) rgba(black, 0.25);
			.Control__icon {
				color: var(--color__base-mid);
			}
		}
		input,
		select,
		textarea {
			color: var(--color__base);
			flex-grow: 1;
			flex-shrink: 1;
			font-size: var(--typeSize__m);
			line-height: var(--typeLineheight__l);
			padding: var(--size__xs) var(--size__m);
			&::placeholder {
				color: var(--color__base-semi);
			}
		}
		&--reversed {
			input,
			select,
			textarea {
				padding-left: calc(var(--size__l) + var(--size__s));
			}
			.Control__icon {
				order: -1;
			}
		}
	}
	&__label {
		display: block;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__icon {
		@include smooth;
		align-items: center;
		display: inline-flex;
		height: 100%;
		justify-content: center;
		min-width: calc(var(--size__l) + var(--size__s));
		position: absolute;
	}
	&__action {
		@include smooth;
		align-items: center;
		border-bottom-right-radius: var(--size__xs);
		border-top-right-radius: var(--size__xs);
		display: inline-flex;
		justify-content: center;
		min-width: calc(var(--size__l) + var(--size__s));
		width: auto;
		&:focus,
		&:hover {
			color: var(--color__brand);
		}
	}
	&__status {
		align-items: center;
		color: white;
		display: inline-flex;
		justify-content: center;
		width: calc(var(--size__s) + var(--size__m));
	}
	&--disabled {
		.Control__wrap {
			border-color: var(--color__base-ghost);
			input,
			select,
			textarea {
				&::placeholder {
					color: var(--color__base-semi);
				}
			}
		}
		.Control__action {
			cursor: not-allowed;
			&:focus,
			&:hover {
				color: var(--color__base-mid);
			}
		}
	}
	&--invalid {
		.Control__wrap {
			border-color: var(--color__warn);
		}
		.Control__status {
			background-color: var(--color__warn);
		}
	}
	&--valid {
		.Control__wrap {
			border-color: var(--color__success);
		}
		.Control__status {
			background-color: var(--color__success);
		}
	}
}
