.NavItem {
	+ .NavItem {
		border-top: rem(1) solid var(--color__base-light);
	}
	&__top {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		min-height: calc(var(--size__s) + var(--size__l));
		&:focus,
		&:hover {
			.NavItem__dropdown {
				color: var(--color__base);
			}
			.NavItem__icon {
				color: var(--color__base);
			}
			.NavItem__label {
				color: var(--color__base-mid);
			}
		}
		.NavItem--small & {
			min-height: var(--size__l);
		}
		.NavItem--active & {
			box-shadow: inset var(--size__xs) 0 0 0 var(--color__brand);
		}
	}
	&__dropdown {
		@include smooth;
		align-items: center;
		display: inline-flex;
		height: var(--size__l);
		justify-content: center;
		flex-shrink: 0;
		width: var(--size__l);
	}
	&__icon {
		@include smooth;
		align-items: center;
		display: inline-flex;
		flex-shrink: 0;
		justify-content: center;
		+ .NavItem__dropdown {
			margin-left: rem(2);
		}
		+ .NavItem__label {
			margin-left: 0;
		}
		.NavItem--reversed & {
			order: -1;
		}
	}
	&__label {
		@include smooth;
		font-weight: bold;
		flex-grow: 1;
		max-width: 100%;
		overflow: hidden;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		&--offset {
			margin-left: calc(var(--size__s) + var(--size__m));
		}
	}
	&__img {
		flex-shrink: 0;
		+ .NavItem__label {
			margin-left: 0;
		}
	}
	&__nested {
		@keyframes slideUp {
			from {
				opacity: 0;
				transform: translateY(rem(8));
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
		animation: slideUp 0.375s ease-in;
		animation-direction: alternate;
		animation-iteration-count: 1;
		margin-top: rem(-8);
		&--offset {
			padding-left: calc(var(--size__s) + var(--size__m));
		}
		.NavItem {
			border-top: none;
			&__top {
				box-shadow: none;
			}
			&__label {
				font-weight: normal;
			}
		}
	}
}
