.Tag {
  @include smooth;
  align-items: center;
  border-radius: var(--size__xs);
  display: inline-flex;
  height: var(--size__l);
  overflow: hidden;
  transform-origin: center;
  width: auto;
  &:focus,
  &:hover {
    border-color: var(--color__base-mid);
    .Tag__label {
      color: var(--color__brand);
    }
  }
  &--micro {
    height: calc(var(--size__s) + var(--size__m));
  }
  &__parent,
  &__action {
    align-items: center;
    display: inline-flex;
    height: var(--size__l);
  }
  &__action {
    @include smooth;
    flex-shrink: 0;
    justify-content: center;
    width: var(--size__l);
    &:focus,
    &:hover {
      background-color: var(--color__contrast);
      color: var(--color__base);
    }
    .Tag:focus,
    .Tag:hover & {
      border-color: var(--color__base-mid);
    }
  }
  &__label {
    @include smooth;
    align-items: center;
    display: inline-flex;
    flex-shrink: 1;
    max-width: 100%;
    overflow: hidden;
    padding-left: rem(6);
    padding-right: rem(6);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
