.Tag {
	@include smooth;
	align-items: center;
	border-radius: var(--size__xs);
	display: inline-flex;
	height: var(--size__l);
	transform-origin: center;
	width: auto;
	&:focus,
	&:hover {
		border-color: var(--color__base-mid);
	}
	&--micro {
		height: calc(var(--size__m) + var(--size__s));
	}
	&__parent,
	&__action {
		align-items: center;
		display: inline-flex;
		height: var(--size__l);
	}
	&__action {
		@include smooth;
		flex-shrink: 0;
		justify-content: center;
		width: var(--size__l);
		&:focus,
		&:hover {
			background-color: var(--color__base-light);
			color: var(--color__base);
		}
	}
	&__label,
	&__parent {
		white-space: nowrap;
	}
	a.Tag__label {
		@include smooth;
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}
